.site-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #26272b;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

footer {
    background-color: #FFCF10 !important;
}