#navbar {
    background-color: lightgray;
}

#main-navigation {
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-bottom-color: black;
}
.nav-logo {
    height: 40px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .nav-logo {
        transform: scale(0.8);
    }
}