#navbar {
    background-color: lightgray;
}

#main-navigation {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #FFCF10;

}

.nav-logo {
    height: 40px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .nav-logo {
        transform: scale(0.8);
    }
}

#dropdownMenuLink {
    background-color: lightgray;
}

#profile_button {
    padding-left: auto;
    font-weight: bold;
}

#profile_button:hover {
    color: white;
    background-color: gray;
}

#logout_button {
    padding-right: auto;
    font-weight: bold;
}

#logout_button:hover {
    color: white;
    background-color: gray;
}